body {
    background: #121212;
    font-family: "IBM Plex Sans", sans-serif;
}

#box1 {
    border: none;
    width: 260px;
    height: 650px;
    background: #181818;
    color: #FFFFFF;
    border-radius: 16px;
}